@font-face{
    font-family: outfit;
    src:url('../assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

@font-face{
    font-family: young-serif;
    src:url('../assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

@media screen and (min-width:768px){
   #banner{
        padding: 20px;
    }
    header img{
        border-radius: 20px;
    }

    #content{
        border-radius: 20px;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .attribution{
        background-color: inherit;
    }
}
body{
   font-family: outfit, sans-serif;
   font-size: 16px;
   color: hsl(30, 10%, 34%);
   background-color: hsl(30, 54%, 90%)
}
#content{
    /* border: 1px solid green; */
    margin-left: auto;
    margin-right: auto;
    max-width: 750px;
    min-width: 400px;
    background-color: #fff;
    padding-bottom: 20px;
}
header img{
    width: 100%;
    display: block;
}
h1, h2{
    font-family: young-serif, sans-serif;
}

section{
    margin:20px 30px 0px;
}
#content > section:nth-of-type(2),
#content > section:nth-of-type(3), 
table tr{
    border-bottom: 1px solid hsl(30, 18%, 87%);
}
section h1{
    font-size: 2.2em;
    color: initial;
    margin: 20px auto;
}
section h2{
    color: hsl(14, 45%, 36%);
    font-size: 1.7em;
}
section ul, section ol{
    padding-left: 25px;
}
section ul{
    list-style: square;
}
section li{
    padding: 5px 15px;
}

#destaque{
    background-color: hsl(330, 100%, 98%);
    padding: 10px 30px;
    border-radius: 10px;
}
#destaque p{
    color: hsl(332, 51%, 32%);
    font-weight: bold;
    font-size: 1.2em; 
}
#destaque ul ::marker {
    color: hsl(332, 51%, 32%);
    font-size: 0.8em;
}
section ul ::marker{
    font-size: 0.8em;
    color: hsl(30, 10%, 34%);
}
section ol ::marker{
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

table{
    width: 100%;
}
table tr:last-child{
    border: none;
}
table td{
    padding: 10px 10px 10px 40px;
} 
tr td:nth-child(2){
    font-weight: bold;
    width: 60%;
    color: hsl(14, 45%, 36%);
}