@import url('./mobilemenu.css');
@font-face {
    font-family: inter;
    src: url('../assets/fonts/Inter-VariableFont_slntwght.ttf');
}
:root{
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);

    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
}

body{
    font-family: inter,sans-serif;
    background-color: var(--Off-white);
    position:relative;
}
.container{
    padding: 16px;
    margin: auto;
}
header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px auto;
    grid-area: header;
    width: 100%;
}
ul.links-li{
    display: none; /***********/
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.links-li a{
    text-decoration: none;
    margin: 20px auto auto 24px;
    display:block;
    font-size: 1.1em;
    font-weight: 600;
    color:var(--Dark-grayish-blue)
}
ul.links-li a:hover{
    text-decoration: none;
    color:var(--Soft-orange)
}
#logo img{
    width: 70%;
}
#mob-menu-close{
    display:none;/***********/
    text-align: right;
    margin:25px 20px 80px 20px;
    cursor: pointer;
}
#mob-menu-icon{
    cursor: pointer;
    /* display: none; */ /*********/
}
section.banner{
   margin-top: 32px;
   grid-area: banner;
}
picture img, 
picture source{
    width: 100%;
}
section.intro-banner{
    grid-area: intro-banner;
}
section.intro-text{
    grid-area: intro-text;
}
.intro-banner h1{
    font-size: 2.5em;
    font-weight: 800;
    line-height: 1;
    margin: 20px 0 16px;
}
.intro-btn-more{
    display: inline-block;
    text-decoration: none;
    font-size: 0.8em;
    background-color: var(--Soft-red);
    padding: 15px 30px;
    color:var(--Off-white);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 5px;
    margin-top:30px;
}
.intro-btn-more:hover{
    background-color: black;
}
p{
    font-size: 15px;
    color: var(--Dark-grayish-blue);
    line-height: 1.7;
    margin: 0;
}

/*  */
section.articles-news{
    padding: 20px;
    background-color: var(--Very-dark-blue);
    margin: 60px auto;
    grid-area: articles-news;
}
.news{
    margin-top: 30px;
}
.news.flat{
    border-width: 1px 0;
    border-style: solid;
    border-color: var(--Dark-grayish-blue);
    padding: 30px 0;
    margin:32px auto;
   
}
.articles-news h2{
    font-size: 1.9em;
    font-weight: 700;
    color:var(--Soft-orange);
}
.news h3{
    font-weight: 700;
    color:var(--Off-white);
    font-size: 1.2em;
    cursor: pointer;
}
.news h3:hover{
    color: var(--Soft-orange);
}
.news p{
    color:var(--Grayish-blue);
    font-weight: 200;
}
/*  */

article.numbered{
    display: flex;
    margin: 30px auto;
    width: 100%;
}
article.numbered img{
    display: block;
    margin-right: 20px;
    width: calc(0.5*200px);
    height: calc(0.5*254px);
}
article.numbered-text{
    width: 70%;
}
article.numbered h2{
    font-size: 1.9em;
    font-weight: 700;
    color: var(--Grayish-blue);
}
article.numbered h3{
    font-weight: 800;
    font-size: 1.1em;
    cursor: pointer;
}
article.numbered h3:hover{
    color:var(--Soft-red);
}
@media screen and (min-width:600px){
    ul.links-li{
        display: flex;
    }
    ul.links-li a{
        margin-left:2.5em;/***********/
        font-size: 1em;
    }
    #logo img{
        width: 100%;
    }
    #mob-menu-icon{
        display: none;
    }
    .intro-banner h1{
        font-size: 3.5em;
        /* margin: 0; */
    }
}
@media screen and (min-width:768px){
  
}   
@media screen and (min-width:992px){
    .container{
        width: 100%;
        max-width: 1100px;
        display: grid;
        grid-template-areas: 
        'header header header'
        'banner banner articles-news'
        'intro-banner intro-text articles-news'
        '. . .';
        gap:10px;
    }
    header{
        margin: 80px auto 40px;
    }
    section.articles-news, section.banner{
        margin: 0;
    }

    @media screen and (min-width:1200px){
        .container{
            gap:30px
        }
    }
}